<div class="referral-input-section">
    <div class="dial-pad-container">
        <div class="dial-pad-display-area">
            <input type="text" id="phoneNumberDisplay" readonly placeholder="Kode Store">
        </div>
        <div class="dial-pad">
            <button type="button" class="dial-button" data-value="1">1</button>
            <button type="button" class="dial-button" data-value="2">2</button>
            <button type="button" class="dial-button" data-value="3">3</button>
            <button type="button" class="dial-button" data-value="4">4</button>
            <button type="button" class="dial-button" data-value="5">5</button>
            <button type="button" class="dial-button" data-value="6">6</button>
            <button type="button" class="dial-button" data-value="7">7</button>
            <button type="button" class="dial-button" data-value="8">8</button>
            <button type="button" class="dial-button" data-value="9">9</button>
            <button type="button" id="deleteButton" class="dial-action-button delete-button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
            width="24" height="24">
            <path
            d="M22 3H7c-.69 0-1.23.35-1.59.88L0 12l5.41 8.12c.36.53.9.88 1.59.88h15c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-3.71 13.29a.9959.9959 0 0 1-1.41 0L14 13.41l-2.88 2.88a.9959.9959 0 0 1-1.41 0c-.39-.39-.39-1.02 0-1.41L12.59 12 9.71 9.12c-.39-.39-.39-1.02 0-1.41s1.02-.39 1.41 0L14 10.59l2.88-2.88c.39-.39 1.02-.39 1.41 0s.39 1.02 0 1.41L15.41 12l2.88 2.88c.39.39.39 1.03 0 1.41z" />
        </svg>
        </button>
            <button type="button" class="dial-button" data-value="0">0</button>
            <button type="button" class="dial-button dial-button-extra" data-value="#">#</button>
        </div>
        <div class="dial-pad-actions">
            <button type="button" id="callButton" class="dial-action-button call-button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
            width="24" height="24">
            </svg>
            Submit
        </button>
            <button type="button" id="deleteButton" class="dial-action-button delete-button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
            width="24" height="24">
            <path
            d="M22 3H7c-.69 0-1.23.35-1.59.88L0 12l5.41 8.12c.36.53.9.88 1.59.88h15c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-3.71 13.29a.9959.9959 0 0 1-1.41 0L14 13.41l-2.88 2.88a.9959.9959 0 0 1-1.41 0c-.39-.39-.39-1.02 0-1.41L12.59 12 9.71 9.12c-.39-.39-.39-1.02 0-1.41s1.02-.39 1.41 0L14 10.59l2.88-2.88c.39-.39 1.02-.39 1.41 0s.39 1.02 0 1.41L15.41 12l2.88 2.88c.39.39.39 1.03 0 1.41z" />
        </svg>
            Hapus
        </button>
        </div>
    </div>
    </div>